<nav class="navbar navbar-expand-lg navbar-light bg-dark" *ngIf="loginStatus">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="1" class="nav-link headerItem active" [routerLink]="['/']" >Home</a>
        </li>
        <li class="nav-item">
          <a id="2" class="nav-link headerItem">KYC</a>
        </li>
        <li class="nav-item">
            <a id="3" class="nav-link headerItem">Contract Farming</a>
        </li>
        <li class="nav-item">
            <a id="4" class="nav-link headerItem">Information Library</a>
        </li>
        <li class="nav-item">
            <a id="5" class="nav-link headerItem">Expert Advice</a>
        </li>
        <li class="nav-item">
            <a id="6" class="nav-link headerItem">AI Suggestions</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle profileButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
      </button>
      <div class="dropdown-menu optionAlignment" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">View Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>