<app-header *ngIf="isLoggedin"></app-header>
<nav class="navbar navbar-expand-sm bg-dark justify-content-center" *ngIf="!isLoggedin">
    <span class="loginHeader"> Welcome to FarmEasy </span>
</nav>
<div class="loginContent">
    <p *ngIf="errorMsg.length>0" class="error"> {{errorMsg}} </p>    
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="!newUser">
        <div class="row">
             <br>
             <div class="col-md-12 col-sm-12 col-lg-12">
                 <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email" placeholder="Enter Email Address" [ngClass]="{ 'is-invalid': loginForm.submitted && email.errors?.required }" required>
             </div>
             <div class="col-md-12 col-sm-12 col-lg-12">
                 <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="Enter Password" [ngClass]="{ 'is-invalid': loginForm.submitted && password.errors?.required }" required>
             </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <button type="submit" class="btn btn-dark btn-lg">Login</button>&nbsp;&nbsp;
                <button type="button" (click)="loginWithGoogle()" class="btn btn-danger btn-lg">Login with Google</button>
            </div>
        </div>
        <br>
        <a href="#signup" (click)="newUser=true">New User? Click here to sign up</a>
     </form>
     <form #signupForm="ngForm" (ngSubmit)="validateSignUp(signupForm)" *ngIf="newUser">
         <div id="signup">
            <div class="row">
                <br>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input type="text" name="firstName" [(ngModel)]="signupData.first_name" #firstName="ngModel" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': signupForm.submitted && firstName.errors?.required }" required>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input type="text" name="middleName" [(ngModel)]="signupData.middle_name" placeholder="Enter Middle Name">
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input type="text" name="lastName" [(ngModel)]="signupData.last_name" #lastName="ngModel" placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': signupForm.submitted && lastName.errors?.required }" required>
                </div>             
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input type="email" name="email" [(ngModel)]="signupData.email" #signupEmail="ngModel" placeholder="Enter email address" [ngClass]="{ 'is-invalid': signupForm.submitted && signupEmail.errors?.required }" required>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input type="password" name="password" [(ngModel)]="signupData.password" #signupPassword="ngModel" placeholder="Enter Password" [ngClass]="{ 'is-invalid': signupForm.submitted && signupPassword.errors?.required }" required>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <input type="password" name="confirmPassword" [(ngModel)]="signupData.confirmPassword" #signupConfirmPassword="ngModel" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': signupForm.submitted && signupConfirmPassword.errors?.required }" required>
                </div>
                <br>
                <div class="col-md-12 col-sm-12 col-lg-12 tandc">
                    <input type="checkbox" name="termsandconditions" [(ngModel)]="signupData.termsAndConditions" #signupTermsAndConditions="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && signupTermsAndConditions.errors?.required }" required>
                    <span [ngClass]="{ 'is-invalidText': signupForm.submitted && signupTermsAndConditions.errors?.required }"> I Agree to the Terms & Conditions </span>
                </div>
           </div>
           <div class="row">
               <div class="col-md-12 col-sm-12 col-lg-12">
                   <button type="submit" class="btn btn-dark btn-lg">Sign Up</button>
               </div>
           </div>
           <br>
         </div>
     </form>
</div>

