/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
    height:100%;
}
input[type="email"], input[type="password"], input[type="text"] {
    height:45px;
    width:400px;
    border-radius:5px;
    border: 1px solid lightgray;
    padding:25px;
    margin:10px;
}
.loginHeader {
    color:white !important;
    font-size:24px;
}
.loginContent {
    text-align: center;
    padding-top:50px;
}
.is-invalid {
    border:1px solid red !important;
    outline: 1px solid red !important;
}
.is-invalidText {
    color:red;
}
.error {
    color:red;
    font-weight: bold;
}
.optionAlignment {
    margin-left:-103px;
}
.profileButton {
    margin-right:5px;
}
.headerItem {
    color: white !important;
    margin-left: 5px;
}
.active {
    font-weight: bold;
}
.tandc {
    margin-top:10px;
    margin-left:-72px;
    margin-bottom:25px;
}